{% extends "./base.html" %}
{% block content %}
<div class="container mt-5">
	<div>
		<h2>About Us:</h2>
		<p>Sharing is caring that is what devbooks all about
		it is about developers from different countries sharing knowledge
		and books they own with other developers from all over the world
		the site isn't supposed to be big it is good the way it is.</p>
	</div>
	<footer>
		Developed and maintained by <a target="_blank" href="https://am-porotofolio.herokuapp.com/">AM</a>
	</footer>
</div>
{% endblock %}